<html>
<h1>Register Admin</h1>
<form action="/admin/registerAdmin" method="post">
    Username: <input type="text" name="username">
    Password: <input type="password" name="password">
    <input type="submit" value="Submit">
</form>
</html>
