<html>
<h1>Register User</h1>
<form action="/admin/registerUser" method="post">
    Username: <input type="text" name="username">
    Password: <input type="password" name="password">
    E-Mail: <input type="text" name="email">
    <input type="submit" value="Submit">
</form>
</html>
