<h1> All Users </h1>
<br /> <br />
<table style="margin-left: 250px; width: 75%" class="table">
	<tr>
		<th style="text-align: center"> Username </th>
		<th style="text-align: center"> Password </th>
	</tr>
	<% @admins.each do |admin| %>
		<tr>
			<td style="text-align: center"> <%= admin.username %> </td>
			<td style="text-align: center"> <%= admin.password %> </td>
		</tr>
	<%end %>
</table>
