<div style="padding-top: 150px">
    <h1>Login User</h1>
    <br />
    <form action="/login" method="post">
        <div class="form-group ">
            <label class="control-label"> Username </label>
            <input type="text" name="username" />
        </div>
        <br />
        <div class="form-group ">
            <label class="control-label"> Password </label>
            <input type="password" name="password" />
        </div>
        <br />
            <div class="form-group" style="color: black">
                <input type="submit" value="Submit">
            </div>
        <br />
    </form>
    New User? <a href="/register" style="color: white; text-decoration: underline;"> Register </a>

</div>
