<h1> Welcome to <%= @user.username  %>'s profile </h1>
<% if @edit == true %>
<br /> <br />

<form action="/profile" method="post">
    <h2> Update Profile </h2> <br />
    <div class="form-group ">
        <label class="control-label"> E - Mail </label>
        <input type="text" name="email" value="<%=@user.email%>" />
    </div>
    <br />
    <div class="form-group ">
        <label class="control-label"> Password </label>
        <input type="password" name="password" />
    </div>
    <br />
        <div class="form-group" style="color: black">
            <button type="submit" name="edit"> Edit </button> 
            <button type="submit" name="delete"> Delete </button>
        </div>
    <br />
</form>

<% end %>

<%= render 'layouts/user' %>