<div style="padding-top: 150px">
    <h1>Register User</h1>
    <br />
    <form action="/register" method="post">
        <div class="form-group ">
            <label class="control-label"> Username </label>
        	<input type="text" name="username" />
        </div>
        <br />
        <div class="form-group ">
            <label class="control-label"> E - Mail </label>
            <input type="text" name="email" />
        </div>
        <br />
        <div class="form-group ">
            <label class="control-label"> Password </label>
            <input type="password" name="password" />
        </div>
        <br />
            <div class="form-group" style="color: black">
            	<input type="submit" value="Submit">
            </div>
        <br />
    </form>
    Already Registered? <a href="/login" style="color: white; text-decoration: underline;"> Login </a>
</div>
