<h1> Leaderboard </h1>
<% @data.each do |current| %>
	<h3>
		Category: <%= current[0] %>
		Subcategory: <%= current[1] %>
	</h3>

	<table>
	<tr>
		<th> Username </th>
		<th> Highest Score </th>
	</tr>
	<% if current[2] %>
		<% current[2].each do |record| %>
			<tr>
			<td> <%= record[0] %> </td>
			<td> <%= record[1] %> </td>
			</tr>
		<% end %>
	<% end %>
	</table>
	
	<br />
<% end %>