<h1> Leaderboard </h1>
<% @data.each do |current| %>
	<h3>
		Category: <%= current[0] %>
        <br />
		Subcategory: <%= current[1] %>
	</h3>

    <table style="margin-left: 250px; width: 75%;" class="table">
	<tr>
		<th style="text-align: center;"> Username </th>
		<th style="text-align: center;"> Highest Score </th>
	</tr>
	<% if current[2] %>
		<% current[2].each do |record| %>
			<tr>
			<td style="text-align: center;"> <%= record[0] %> </td>
			<td style="text-align: center;"> <%= record[1] %> </td>
			</tr>
		<% end %>
	<% end %>
	</table>
	
	<br />
<% end %>