<div style="text-align: center; font-size: x-large;">
<table style="margin-left: 650px;">
<tr>
    <td> <a href="/admin/registerUser" style="color: white; text-decoration: underline;"> Register User </a> </td>
    <td> <a href="/admin/showUsers" style="color: white; text-decoration: underline;"> Show Users  </a></a>
    <td> <a href="/admin/registerAdmin" style="color: white; text-decoration: underline;"> Register Admin </a> </td>
    <td> <a href="/admin/showAdmins" style="color: white; text-decoration: underline;"> Show Admins </a> </td>
</tr>
</table>
</div>