<div style="text-align: center; font-size: x-large;">
<table style="margin-left: 650px;">
<tr>
	<td> <a href="/dashboard" style="color: white; text-decoration: underline;"> Dashboard </a> </td>
	<td> <a href="/profile" style="color: white; text-decoration: underline;"> Edit Profile  </a></a>
	<td> <a href="/leaderboard" style="color: white; text-decoration: underline;"> Leaderboard </a> </td>
	<td> <a href="/logout" style="color: white; text-decoration: underline;"> Logout </a> </td>
</tr>
</table>
</div>